# Install:
#    cp randomFile.service /lib/systemd/system
#    sudo systemctl daemon-reload
#
# Start on each boot:
#    sudo systemctl enable randomFile.service
#
# Start right now:
#    sudo systemctl start randomFile.service

[Unit]
Description=random file flask website
Wants=network-online.target
After=network-online.target
Wants=systemd-timesyncd.service
After=systemd-timesyncd.service

[Service]
Environment=DISPLAY=:0
Type=simple
Restart=always
User=pi
WorkingDirectory=/home/pi/git/randomFile/
ExecStart=/home/pi/git/randomFile/venv/bin/gunicorn -w 4 -m 007 --timeout 100000 --bind 127.0.0.1:8004 --reload app:app

[Install]
WantedBy=multi-user.target